@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
     -webkit-box-sizing: border-box;
             box-sizing: border-box;
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
}
/* Background Section */
 section {
     background-image: url('../images/background.webp');
     background-attachment: fixed;
     background-size: cover;
     min-height: 100vh;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
}
/* Navbar */
 .navbar {
     min-height: 50px;
}
 nav.navbar.navbar-light {
     background-color: rgb(41, 41, 41);
}
 .logo {
     letter-spacing: -0.5rem;
     font-family: 'Nunito', sans-serif;
     font-size: 4rem;
     margin-right: 0;
     color: #fafafa;
     text-decoration: none;
     text-shadow: 1px 1px 4px black;
}
 .logo i {
     font-size: 5rem;
}
/* Quizbox Div */
 .quiz-box-container {
     position: relative;
     text-align: center;
     -webkit-box-shadow: 0 1px 15px 0 rgb(3, 3, 3);
             box-shadow: 0 1px 15px 0 rgb(3, 3, 3);
     height: -webkit-fit-content;
     height: -moz-fit-content;
     height: fit-content;
     min-height: 35vh;
     border-radius: 20px;
     padding: 10px 10px;
     width: 600px;
     margin: 5rem 0;
     background-color: rgba(0, 0, 0, 0.1);
}
 ul {
     padding-right: 2rem;
}
 ul li {
     max-width: 200px;
     min-width: 125px;
     text-align: center;
     
}
 .a-bootstrap-override {
     text-decoration: none;
     color: #fff;
}
 .a-bootstrap-override:hover {
     text-decoration: none;
     color: #5e5e5e;
     text-shadow: 1px 1px 1px #b9b9b9;
}
 li a {
     text-decoration: none;
     color: #fafafa;
}
/* Headings & paragraphs */
 h1, h2, h3, span {
     font-family: 'Nunito', sans-serif;
     font-weight: 300;
     color: #fff;
     text-shadow: 1px 1px 4px black;
     font-size: 1rem;
     text-align: center;
}
 h1 {
     margin: 50% 2rem;
}
/* Categories, Difficulties*/
 .category {
     background-color: rgb(41, 41, 41);
     border-radius: 12px;
     -webkit-box-shadow: 2px 2px 2px rgb(10, 10, 10);
             box-shadow: 2px 2px 2px rgb(10, 10, 10);
     display: inline-block;
     margin: 1rem;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     width: 25%;
}
 .category:hover {
     background-color: rgb(255, 136, 0);
     -webkit-box-shadow: 2px 2px 2px rgb(141, 141, 141);
             box-shadow: 2px 2px 2px rgb(141, 141, 141);
     -o-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
     -webkit-transition: all .2s ease-in-out;
     -webkit-transform: scale(1.05);
         -ms-transform: scale(1.05);
             transform: scale(1.05);
}
 .category i {
     font-size: 4rem;
     display: block;
     padding: 0.5rem;
     width: 100%;
     color: #fafafa;
}
 .difficulty1 {
     background-color: rgb(41, 41, 41);
     border-radius: 12px;
     -webkit-box-shadow: 2px 2px 2px rgb(10, 10, 10);
             box-shadow: 2px 2px 2px rgb(10, 10, 10);
     display: inline-block;
     margin: 1rem;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     width: 25%;
     pointer-events: none;
     opacity: 0.7;
}
 .difficulty2 {
     background-color: rgb(41, 41, 41);
     border-radius: 12px;
     -webkit-box-shadow: 2px 2px 2px rgb(10, 10, 10);
             box-shadow: 2px 2px 2px rgb(10, 10, 10);
     display: inline-block;
     margin: 1rem;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     width: 25%;
     pointer-events: auto;
     opacity: 1;
}
 .difficulty2:hover {
     background-color: rgb(226, 112, 6);
     -webkit-box-shadow: 2px 2px 2px rgb(141, 141, 141);
             box-shadow: 2px 2px 2px rgb(141, 141, 141);
     -o-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
     -webkit-transition: all .2s ease-in-out;
     -webkit-transform: scale(1.05);
         -ms-transform: scale(1.05);
             transform: scale(1.05);
}
 .difficulty1 i {
     font-size: 4rem;
     display: block;
     padding: 0.5rem;
     width: 100%;
     color: #fafafa;
}
 .difficulty2 i {
     font-size: 4rem;
     display: block;
     padding: 0.5rem;
     width: 100%;
     color: #fafafa;
}
/* Question Container */
 .question-container {
     margin: auto 0px;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
}
 .answer-area {
     margin-top: 2rem;
     margin-bottom: 2rem;
}
 .results-area {
     position: absolute;
     bottom: 5px;
     left: 50%;
     -webkit-transform: translate(-50%);
         -ms-transform: translate(-50%);
             transform: translate(-50%);
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
         -ms-flex-direction: row;
             flex-direction: row;
}
/* Quiz questions and answer buttons */
 .ans {
     margin: 1rem 1rem;
     font-family: 'Nunito', sans-serif;
     font-size: 1.2rem;
     border-radius: 10px;
     display: inline-block;
     min-width: 250px;
     min-height: 60px;
     -webkit-box-shadow: 2px 2px 2px rgb(10, 10, 10);
             box-shadow: 2px 2px 2px rgb(10, 10, 10);
     border: none;
}
 .results {
     display: inline-block;
     margin: 0 3rem;
     font-family: 'Nunito', sans-serif;
     font-weight: 300;
     color: #fff;
     text-shadow: 1px 1px 4px black;
}
/* Footer */
 #footer {
     background-color: rgb(41, 41, 41);
     color: #fafafa;
     width: 100%;
     max-height: 50px;
     margin: 0 auto;
}
 .footer-logo {
     letter-spacing: -0.25rem;
     font-family: 'Nunito', sans-serif;
     font-size: 2rem;
     margin-right: 0;
     color: #fafafa;
     text-decoration: none;
     text-shadow: 1px 1px 4px black;
}
 i.far.fa-hand-pointer {
     font-size: 0.75rem;
}
 @media screen and (max-width: 992px) {
     #footer {
         min-width: 0;
    }
}
/* End */